.header{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
    font-family: 'Roboto';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.buttonHeader{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
}

#button{

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}

#textButton{

    text-align: center;
    font-family: 'Roboto';
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}