.container{
    display: flex;
    flex-direction: row;
    margin: 9rem;
    height: 100%;
}

.text{
    display: flex;
    width: 50%;
    margin-right: 7rem;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:100%;
    width: 40%;
}

.buttonForm{
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;

}

button{
    display: flex;
    justify-content: flex-end;
}